<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/public/style.css" | relative_url }}">
  <link rel="icon" href="{{ "/public/favicon.png" | relative_url }}">
  <script type="text/javascript" src="{{ "/public/script.js" | relative_url }}"></script>

  <title>Trion Team{% if page.url != "/" %} - {{ page.title }}{% endif %}</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141183740-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-141183740-1');
  </script>
</head>
